{{page-title "Bedienarenbeheer " this.bestuurseenheid.classificatie.label " " this.bestuurseenheid.naam}}
<div class="au-c-body-container">
  <AuToolbar @size="large" @nowrap="true" class="au-u-padding-bottom-none">
    <AuToolbarGroup>
      <div class="au-o-flow">
        <AuHeading @skin="2">Bedienarenbeheer</AuHeading>
      </div>
    </AuToolbarGroup>

    <AuToolbarGroup>
      <AuButtonGroup>
        <AuButton>
          Voeg bedienaar toe
        </AuButton>
      </AuButtonGroup>
    </AuToolbarGroup>
  </AuToolbar>

  <AuDataTable @content={{this.model}} @isLoading={{this.model.isLoading}} @noDataMessage="Geen bedienaren gevonden"
    @sort={{this.sort}} @page={{this.page}} @size={{this.size}} as |t|>
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable @field='positie' @currentSorting={{this.sort}} @label='Positie' class="au-u-visible-small-up" />
        <AuDataTableThSortable @field='voornaam' @currentSorting={{this.sort}} @label='Voornaam' class="au-u-visible-small-up" />
        <AuDataTableThSortable @field='achternaam' @currentSorting={{this.sort}} @label='Achternaam' class="au-u-visible-small-up" />
        <AuDataTableThSortable @field='startdatum' @currentSorting={{this.sort}} @label='Startdatum' class="au-u-visible-small-up" />
        <AuDataTableThSortable @field='einddatum' @currentSorting={{this.sort}} @label='Einddatum' class="au-u-visible-small-up" />
        <th></th>
      </c.header>
      <c.body data-test-loket="mandatarissen-body" as |row|>
        <td>
          {{row.role}}
        </td>
        <td>
          {{row.voornaam}}
        </td>
        <td>
          {{row.achternaam}}
        </td>
        <td>
          {{moment-format row.startDate 'DD-MM-YYYY'}}
        </td>
        <td>
          {{moment-format row.endDate 'DD-MM-YYYY'}}
        </td>
        <td><LinkTo @route={{@editRoute}} @model={{row.isBestuurlijkeAliasVan.id}} class="au-c-link"> Bewerk </LinkTo></td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>