<div class="col--12-12 col--9-12--m col--12-12--s">
	<div class="container-flex--contain">
		<div class="u-border--light--bottom u-padding--tb--small u-padding--rl--tiny">
			<div class="grid u-spacer--tiny">
				<div class="col--6-12">
					{{#link-to "subsidiebeheer.subsidies" class="link--dark smaller"}}<i class="fa fa-angle-left"></i> Terug naar overzicht{{/link-to}}
				</div>
				<div class="col--6-12 u-align-right">
					<p class="smaller">Ingediend op 23.12.2019 &mdash; Bewaard vandaag om 11:26 <span class="pill pill--small pill--primary-yellow">Aanvraag aanvaard &mdash; mits aanpassingen</span></p>
				</div>
			</div>
			<div class="grid">
				<div class="col--6-12">
					<h1>Subsidieaanvraag </h1>
					<h2 class="h6">Gesubs Infra - Investeringssubsidie gebouwen erediensten en niet confessionele dienstverlening 2019</h2>
				</div>
				<div class="col--6-12 u-align-right">
					<div class="button-group">
						<div class="popover js-popover" id="popover-0"> <!--  js-popover--open-->
							<button class="button button--link button--link--dark button--narrow" type="button" aria-expanded="true" aria-controls="popover-0">Meer</button>
							<ul class="popover__content">
								<li>
									<a class="popover__link" href="#"><i class="fa fa-print"></i> Print</a>
								</li>
								<li>
									<a class="popover__link" href="#"><i class="fa fa-plug"></i> Trek aanvraag in</a>
								</li>
							</ul>
						</div>
						<button class="button button--alt button--narrow">Bewaar concept</button>
						<button class="button button--narrow">Dien aanpassingen in <span class="button__info button__info--below">Laatste indiening</span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-flex--contain">
			<div class="grid grid--collapse">
				<div class="col--3-12 col--4-12--m u-hidden--s">
					<div class="container-flex--contain">
						<div class="sidebar">
							<div class="sidebar__content">
								<nav class="side-navigation">
									<div class="side-navigation__content">
										<ul class="side-navigation__group">
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies.edit" class="active"}}
													<div class="grid">
														<div class="col--8-12">Overzicht aanvraag</div>
														<div class="col--4-12 u-align-right">
															<i class="fa fa-check u-padding--right--tiny"></i>
														</div>
													</div>
												{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies.new.dossier"}}
													<div class="grid">
														<div class="col--8-12">Subsidiedossier</div>
														<div class="col--4-12 u-align-right">
															<i class="fa fa-check u-padding--right--tiny"></i>
														</div>
													</div>
												{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies.new.timing-financials"}}
													<div class="grid">
														<div class="col--8-12">Timing en  financiële details</div>
														<div class="col--4-12 u-align-right">
															<i class="fa fa-check u-padding--right--tiny"></i>
														</div>
													</div>
												{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies.new.vision-planning"}}
													<div class="grid">
														<div class="col--8-12">Visie en planning</div>
														<div class="col--4-12 u-align-right">
															<i class="fa fa-check u-padding--right--tiny"></i>
														</div>
													</div>
												{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies.new.decision"}}
													<div class="grid">
														<div class="col--8-12">Beslissing</div>
														<div class="col--4-12 u-align-right">
															<i class="fa fa-circle-o fa-xs u-padding--right--tiny"></i>
														</div>
													</div>
												{{/link-to}}
											</li>
										</ul>
									</div>
								</nav>
							</div>
							<div class="sidebar__footer u-align-center">
								<button href="#" class="button button--alt button--small button--block u-align-left">Contacteer<br>dossierbehandelaar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col--9-12 col--8-12--m u-hidden--s">
					<div class="container-flex--scroll u-padding--round">

						<div class="alert alert--small">
					    <div class="alert__title">Ingediend op 23-12-2019</div>
							<div class="alert__message">
								<p>U kan het dossier niet aanpassen in deze status voor vragen, <a href="#" class="link--dark">neem contact op met de dossierbehandelaar</a>.</p>
							</div>
						</div>

						<div class="alert alert--small alert--warning">
					    <div class="alert__title">Aanvraag aanvaard, mits aanpassingen.</div>
							<div class="alert__message">
								<p>Volgende aanpassingen zijn vereist:
									<ul class="bullet-list">
										<li>toevoegen van beslissing college burgemeester en schepenen</li>
										<li>nog iets</li>
									</ul>
									Pas uw subsidieaanvraag aan binnen de X dagen, en dien het opnieuw in met de knop rechtsboven. Voor vragen, <a href="#" class="link--dark"> neem contact op met de dossierbehandelaar</a>.
								</p>
							</div>
						</div>

						<div class="alert alert--small alert--error">
					    <div class="alert__title">Aanvraag niet aanvaard.</div>
							<div class="alert__message">
								<p>U kan het dossier niet aanpassen in deze status voor vragen, <a href="#" class="link--dark">neem contact op met de dossierbehandelaar</a>.</p>
							</div>
						</div>

						<div class="alert alert--small alert--success">
					    <div class="alert__title">Aanvraag aanvaard.</div>
							<div class="alert__message">
								<p>U kan het dossier niet meer aanpassen. Voor vragen, <a href="#" class="link--dark">neem contact op met de dossierbehandelaar</a>. Een officiële brief wordt opgestuurd. (? extra info nodig over boodschap)</p>
							</div>
						</div>

						<label class="form__label u-spacer--tiny">Details subsidiereeks</label>
						<div class="u-padding--round--small u-background--gray-lightest u-spacer">
							<div class="u-spacer">
								<div class="grid description-data u-spacer--tiny">
									<div class="col--4-12 description-data__label">Projectinformatie</div>
									<div class="col--8-12 description-data__value"><a href="https://lokaalbestuur.vlaanderen.be/node/1891" target="_blank">https://lokaalbestuur.vlaanderen.be/node/1891</a></div>
								</div>
								<div class="grid description-data u-spacer--tiny">
									<div class="col--4-12 description-data__label">Startdatum indienen</div>
									<div class="col--8-12 description-data__value">12.11.2019</div>
								</div>
								<div class="grid description-data u-spacer--tiny">
									<div class="col--4-12 description-data__label">Einddatum indienen</div>
									<div class="col--8-12 description-data__value">12.11.2020</div>
								</div>
								<div class="grid description-data u-spacer--tiny">
									<div class="col--4-12 description-data__label">Reeks <span class="text-fade">(duidelijker in lijst)</span></div>
									<div class="col--8-12 description-data__value">Kwartaal 1 2019</div>
								</div>
								<div class="grid description-data u-spacer--tiny">
									<div class="col--4-12 description-data__label">Maatregel <span class="text-fade">(duidelijker in lijst)</span></div>
									<div class="col--8-12 description-data__value">Slim in de stad</div>
								</div>
								<div class="grid description-data u-spacer--tiny">
									<div class="col--4-12 description-data__label">Wettelijk kader <span class="text-fade">(regelgeving URI)</span></div>
									<div class="col--8-12 description-data__value">Decreet, beslissing Minister, subsidiegids</div>
								</div>
							</div>
						</div>

						<label class="form__label u-spacer--tiny">Details aanvrager</label>
						<div class="u-padding--round--small u-background--gray-lightest u-spacer">
							<div class="grid description-data u-spacer--tiny">
								<div class="col--4-12 description-data__label">Organisatie</div>
								<div class="col--4-12 description-data__value">
									<p>Gemeente Gent</p>
									<p><a class="smaller" href="#"><i class="fa fa-plus"></i> Voeg co-aanvrager toe</a></p>
								</div>
							</div>
							<div class="u-hr u-spacer--tb"></div>

							<div class="form__row">
								<label class="form__label">Rekeningnummer voor deze aanvraag</label>
								<div class="grid grid--collapse">
									<div class="col--1-12 col--3-12--s col--2-12--m">
			              {{input
		                  type="text"
		                  disabled=true
		                  key-up=(perform search)
		                  value="IBAN"
		                  class="input-field input-field--block"
			              }}
			            </div>
									<div class="col--6-12">
			              {{input
		                  type="text"
		                  key-up=(perform search)
		                  value=searchData
		                  class="input-field input-field--block u-spacer--tiny"
			              }}
			            </div>
		            </div>
		            <p class="smaller text-fade">IBAN: BE00 0000 0000 0000</p>
		          </div>

							<div class="form__row">
								<label class="form__label">Correspondentieadres</label>
								<div class="grid grid--collapse">
									<div class="col--7-12">
				            <div class="input-field-icon-container--block input-field-icon-container--right">
				              {{input
				                  type="text"
				                  placeholder=""
				                  key-up=(perform search)
				                  value=searchData
				                  class="input-field input-field--block"
				              }}
				              <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
				            </div>
				            <p class="smaller text-fade">Typ om te zoeken</p>
				          </div>
				        </div>
							</div>
							<div class="u-hr u-spacer--tb"></div>

							<div class="form__row">
								<div class="grid u-spacer">
									<div class="col--6-12">
										<h2>Contactgegevens</h2>
									</div>
									<div class="col--6-12 u-align-right">
										<button class="button button--link button--narrow" href="#"><i class="fa fa-plus"></i> Voeg contactpersoon toe</button>
									</div>
								</div>
							</div>

							<div class="form__row">
								<div class="u-spacer">
									<div class="grid grid--collapse u-border--fat--bottom">
										<div class="col--6-12">
											<h3 class="h6 text-fade uppercase smaller">Contactpersoon 1</h3>
										</div>
										<div class="col--6-12 u-align-right">
											<span class="pill pill--small u-spacer--tiny">Projectleider en contactpersoon</span>
										</div>
									</div>
									<p class="smaller text-fade">Met deze persoon zal per mail en/of per brief contact opgenomen worden.</p>
								</div>

								<div class="grid u-spacer">
									<div class="col--6-12">

										<label class="form__label">Voornaam</label>
						        {{input
						            type="text"
						            placeholder=""
						            key-up=(perform search)
						            value=searchData
						            class="input-field input-field--block"
						        }}
				          </div>
									<div class="col--6-12">
										<label class="form__label">Familienaam</label>
						        {{input
						            type="text"
						            placeholder=""
						            key-up=(perform search)
						            value=searchData
						            class="input-field input-field--block"
						        }}
				          </div>
				        </div>

								<label class="form__label">Mailadres</label>
								<div class="grid grid--collapse">
									<div class="col--7-12">
			              {{input
		                  type="text"
		                  key-up=(perform search)
		                  value=searchData
		                  class="input-field input-field--block u-spacer--tiny"
			              }}
				            <p class="form__error">Gelieve een valide mailadres op te geven.</p>
			            </div>
			          </div>

								<label class="form__label">Telefoonnummer</label>
								<div class="grid grid--collapse">
									<div class="col--7-12">
			              {{input
		                  type="text"
		                  key-up=(perform search)
		                  value=searchData
		                  class="input-field input-field--block u-spacer--tiny"
			              }}

						        <p class="smaller text-fade">Formaat: +32 11 21 14 30</p>
			            </div>
			          </div>

							</div>

							<div class="form__row">
								<div class="u-spacer">
									<div class="grid grid--collapse u-border--fat--bottom">
										<div class="col--6-12">
											<h3 class="h6 text-fade uppercase smaller">Contactpersoon 2</h3>
										</div>
										<div class="col--6-12 u-align-right">
											<p class="smaller u-spacer--tiny"><a>Maak projectleider en contactpersoon</a></p>
										</div>
									</div>
								</div>

								<div class="grid u-spacer">
									<div class="col--6-12">

										<label class="form__label">Voornaam</label>
						        {{input
						            type="text"
						            placeholder=""
						            key-up=(perform search)
						            value=searchData
						            class="input-field input-field--block"
						        }}
				          </div>
									<div class="col--6-12">
										<label class="form__label">Familienaam</label>
						        {{input
						            type="text"
						            placeholder=""
						            key-up=(perform search)
						            value=searchData
						            class="input-field input-field--block"
						        }}
				          </div>
				        </div>

								<label class="form__label">Mailadres</label>
								<div class="grid grid--collapse">
									<div class="col--7-12">
			              {{input
		                  type="text"
		                  key-up=(perform search)
		                  value=searchData
		                  class="input-field input-field--block u-spacer--tiny"
			              }}
			            </div>
			          </div>

								<label class="form__label">Telefoonnummer</label>
								<div class="grid grid--collapse">
									<div class="col--7-12">
			              {{input
		                  type="text"
		                  key-up=(perform search)
		                  value=searchData
		                  class="input-field input-field--block u-spacer--tiny"
			              }}
						        <p class="smaller text-fade">Formaat: +32 11 21 14 30</p>
			            </div>
			          </div>

							</div>
						</div>

					</div>
				</div>
			</div>
	  </div>
	</div>
</div>

{{outlet}}
