<div class="col--12-12 col--9-12--m col--12-12--s">
	<div class="container-flex--contain">
		<div class="u-border--light--bottom u-padding--tb--small u-padding--rl--tiny">
			<div class="grid u-spacer--tiny">
				<div class="col--6-12">
					{{#link-to "subsidiebeheer.subsidies" class="link--dark smaller"}}<i class="fa fa-angle-left"></i> Terug naar overzicht{{/link-to}}
				</div>
				<div class="col--6-12 u-align-right">
					<p class="smaller">Bewaard vandaag om 11:26 <span class="pill pill--small">Concept</span></p>
				</div>
			</div>
			<div class="grid">
				<div class="col--6-12">
					<h1>Subsidieaanvraag </h1>
					<h2 class="h6">Gesubs Infra - Investeringssubsidie gebouwen erediensten en niet confessionele dienstverlening 2019</h2>
				</div>
				<div class="col--6-12 u-align-right">
					<div class="button-group">
						<div class="popover js-popover" id="popover-0"> <!--  js-popover--open-->
							<button class="button button--link button--link--dark button--narrow" type="button" aria-expanded="true" aria-controls="popover-0">Meer</button>
							<ul class="popover__content">
								<li>
									<a class="popover__link" href="#"><i class="fa fa-print"></i> Print</a>
								</li>
								<li>
									<a class="popover__link" href="#"><i class="fa fa-plug"></i> Trek aanvraag in</a>
								</li>
							</ul>
						</div>
						<button class="button button--alt button--narrow">Bewaar concept</button>
						<button class="button button--narrow">Aanvraag indienen</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-flex--contain">
			<div class="grid grid--collapse">
				<div class="col--2-12 col--3-12--m u-hidden--s">
					<div class="container-flex--contain">
						<div class="sidebar">
							<div class="sidebar__content">
								<nav class="side-navigation">
									<div class="side-navigation__content">
										<ul class="side-navigation__group">
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies.new"}}Overzicht aanvraag{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies.new-dossier"}}Subsidiedossier{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies.new-timing-financials" class="active"}}Timing en  financiële details{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies.new-vision-planning"}}Visie en planning{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies.new-decision"}}Beslissing{{/link-to}}
											</li>
										</ul>
									</div>
								</nav>
							</div>
{{!-- 							<div class="sidebar__footer u-align-center">
								<button href="#" class="button button--alt button--small button--block u-align-left">Contacteer<br>dossierbehandelaar</button>
							</div> --}}
						</div>
					</div>
				</div>
				<div class="col--10-12 col--9-12--m u-hidden--s">
					<div class="container-flex--scroll u-padding--round">
						<h2 class="u-spacer--tinier">Timing</h2>

						<label class="form__label u-spacer--tiniest">Begin- en einddatum van het project</label>
						<div class="grid u-spacer">
							<div class="col--4-12">
								<div class="form__row">
									{{wu-datepicker
									  placeholder=placeholder
									  class="date-range__datepicker datepicker datepicker--block"
									  value=internalValue
									  dateFormat=dateFormat
									  disabled=disabled
									}}
								</div>
							</div>
							<div class="col--4-12 u-align-right">
									<div class="form__row">
									{{wu-datepicker
									  placeholder=placeholder
									  class="date-range__datepicker datepicker datepicker--block is-optional"
									  value=internalValue
									  dateFormat=dateFormat
									  disabled=disabled
									}}
								</div>
							</div>
						</div>

						<h2 class="u-spacer--tinier">Financiële details</h2>
						<div class="grid u-spacer">
							<div class="col--4-12">
								<label class="form__label">Geraamde totale kostprijs in Euro</label>
								<div class="form__row">
		              {{input
	                  type="text"
	                  key-up=(perform search)
	                  value=searchData
	                  class="input-field input-field--block u-spacer--tiny"
		              }}
								</div>
							</div>
							<div class="col--4-12">
								<div class="form__row">
									<label class="form__label">Aanvraag subsidiebedrag in % (?)</label>
		              {{input
	                  type="text"
	                  key-up=(perform search)
	                  value=searchData
	                  class="input-field input-field--block u-spacer--tiny"
		              }}
								</div>
							</div>
						</div>

						<div class="grid grid--collapse">
							<div class="col--10-12">
								<div class="form__row">

									<label class="form__label u-spacer--tiny">Projectchronologie met financiële details</label>
									<div class="u-padding--round--small u-background--gray-lightest u-spacer">

										<div class="form__row">
											<label class="form__label">Project stap 1</label>
				              {{textarea
				                class="textarea textarea--block u-spacer--tiny"
				                rows="10"
				              }}

											<label class="form__label">Kostprijs stap in Euro</label>
				              {{input
			                  type="text"
			                  key-up=(perform search)
			                  value=searchData
			                  class="input-field input-field--block u-spacer--tiny"
				              }}
				              <p class="smaller text-fade">Belgische notatie: zonder spaties of punten. Voorbeeld: €1239,05</p>
				            </div>

				            <div class="u-hr u-spacer--tb"></div>

										<div class="form__row">
											<div class="grid grid--collapse">
												<div class="col--6-12">
													<label class="form__label">Project stap 2</label>
												</div>
												<div class="col--6-12 u-align-right">
						              <a class="link link--dark smaller" href="#">Verwijder projectstap 2</a>
						            </div>
						          </div>
				              {{textarea
				                class="textarea textarea--block u-spacer--tiny"
				                rows="10"
				              }}

											<label class="form__label">Kostprijs stap in Euro</label>
				              {{input
			                  type="text"
			                  key-up=(perform search)
			                  value=searchData
			                  class="input-field input-field--block u-spacer--tiny"
				              }}
				              <p class="smaller text-fade">Belgische notatie: zonder spaties of punten. Voorbeeld: €1239,05</p>

				            </div>

				            <div class="u-hr u-spacer--tb"></div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	  </div>
	</div>
</div>

{{outlet}}
