{{title "Berichtencentrum " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<div class="container-flex--contain">
	<div class="u-padding--rl--tiny u-padding--tb--tinier u-background--gray-lightest u-border--light--bottom">
		<div class="grid">
			<div class="col--8-12">
		    <ul class="inline-list inline-list--bordered u-padding--top--tinier smaller">
		      <li>
		      	{{#link-to 'index' class="link link--dark"}}Overzicht modules{{/link-to}}
				  	<span class="user-toggle">
							{{#wu-popover as |p|}}
							  {{#p.toggle}}
							    <button class="vi vi-arrow vi-u-90deg vi-u-badge vi-u-badge--xsmall vi-u-badge--neutral"></button>
							  {{/p.toggle}}
							  {{#p.content tagName="ul"}}
						      <li>
						      	{{#link-to "berichtencentrum.berichten" tagName="a" class="popover__link u-padding--tb--tiny"}}<i class="fa fa-envelope-o"></i> Berichtencentrum{{/link-to}}
						      </li>
						      <li>
						      	{{#link-to "bbcdr.rapporten" tagName="a" class="popover__link u-padding--tb--tiny"}}<i class="vi vi-paperclip"></i> BBC-DR{{/link-to}}
						      </li>
						      <li>
						      	{{#link-to "leidinggevendenbeheer.bestuursfuncties" tagName="a" class="popover__link u-padding--tb--tiny"}}<i class="vi vi-id"></i> Leidinggevenden{{/link-to}}
						      </li>
						      <li>
						      	{{#link-to "mandatenbeheer.mandatarissen" tagName="a" class="popover__link u-padding--tb--tiny"}}<i class="vi vi-diagram"></i> Mandaten{{/link-to}}
						      </li>
						      <li>
						      	{{#link-to "subsidiebeheer.subsidies" tagName="a" class="popover__link u-padding--tb--tiny"}}<i class="vi vi-news"></i> Subsidies{{/link-to}}
						      </li>
						      <li>
						      	{{#link-to "toezicht.inzendingen" tagName="a" class="popover__link u-padding--tb--tiny"}}<i class="vi vi-vlaanderen"></i> Toezicht{{/link-to}}
						      </li>
						      <li class="u-border--light--top u-padding--top--tiny">
						      	{{#link-to "index" tagName="a" class="popover__link u-padding--tb--tiny"}}Alle modules en handleidingen{{/link-to}}
						      </li>
							  {{/p.content}}
							{{/wu-popover}}
						</span>
		      </li>
		      <li>Berichtencentrum</li>
		    </ul>
			</div>
			<div class="col--4-12 u-align-right">
				<div class="user-toggle">
				  <nav>
		        {{#wu-popover as |p|}}
		          {{#p.toggle}}
		            <div class="user-toggle__name">
		            	{{currentSession._user.voornaam}} {{currentSession._user.achternaam}} &mdash; <strong>{{currentSession._group.classificatie.label}} {{currentSession._group.naam}}</strong>
			            <button class="vi vi-arrow vi-u-90deg vi-u-badge vi-u-badge--xsmall u-align-left"></button>
		            </div>
		          {{/p.toggle}}
		          {{#p.content tagName="ul"}}
		              <li>
		                {{#acmidm-switch tagName="a" class="popover__link"}}
		                  <i class="fa fa-retweet button__icon"></i>
		                  <span>Wissel van bestuurseenheid</span>
		                {{/acmidm-switch}}
		              </li>
		              <li>
		                {{#acmidm-logout tagName="a" class="popover__link"}}
		                  <i class="button__icon fa fa-power-off"></i>
		                	<span>Meld u af</span>
		                {{/acmidm-logout}}
		              </li>
		          {{/p.content}}
		        {{/wu-popover}}
				  </nav>
				</div>
			</div>
		</div>
	</div>
	<div class="container-flex--contain">
		<div class="grid grid--collapse">
			<div class="{{if hasActiveChildRoute "col--7-12 u-visible--tablet-landscape-up u-border--light--right" "col--1-1"}}">
			  <div class="container-flex--contain">
			    <div class="u-border--light--bottom">
			      <div class="u-padding--round--small loket-onderdeel__header">
			        <div class="grid">
			          <div class="col--6-12 col--1-1--s">
					        <h1 class="h4 u-spacer--tiny">Berichtencentrum</h1>
			            {{!-- Search field --}}
			          </div>
			          <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up">
			            <button class="button--tiny button--link button--link--dark button--alt button button--narrow" data-test-loket="berichtencentrum-setting-email-button" {{action 'showPreferences'}}>
			              <i class="fa fa-cog u-spacer--right--tinier"></i>Ontvang mails bij nieuwe berichten
			            </button>
			          </div>
			        </div>

			        <!-- Hiding search options b/c they're not implemented yet -->
			        <div class="grid u-hidden-mobile u-hidden">
			          <div class="col--12-12">
			            <div class="input-field-icon-container--right u-spacer--bottom--tiny">
			              <input class="input-field input-field--block" id="input-field" type="text" placeholder="Type communicatie, dossiernummer, ..." style="min-width: 25rem;"><i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
			            </div>
			            <div class="popover js-popover">
			              <div class="input-field-icon-container--right u-spacer--bottom--tiny">
			                <input class="input-field input-field--block js-popover__toggle" name="datepicker-range" type="text" placeholder="01.01.2017 - heden"><i class="input-field__icon vi vi-calendar" aria-hidden="true"></i>
			                <div class="popover__content u-padding--round--tiny">
			                  <form class="form" action="">
			                    <div class="date-range">
			                      <label class="date-range__label u-spacer--tiny" for="datepicker-from">van</label>
			                      <div class="date-range__datepicker datepicker">
			                        <input class="input-field input-field--block" id="datepicker-from" type="text" placeholder="01.01.2016" name="datepicker-from" data-datepicker="" data-datepicker-min="01.01.2016" data-datepicker-max="01.01.2017">
			                      </div>
			                      <label class="date-range__label" for="datepicker-to">tot</label>
			                      <div class="date-range__datepicker datepicker">
			                        <input class="input-field input-field--block" id="datepicker-to" type="text" placeholder="01.01.2017" name="datepicker-to" data-datepicker="" data-datepicker-min="01.01.2016" data-datepicker-max="01.01.2018">
			                      </div>
			                    </div>
			                  </form>
			                </div>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>
			    </div>
			    {{berichtencentrum/conversatie-table
			      class="container-flex--contain"
			      content=model
			      sort=sort page=page size=size displaySubset=hasActiveChildRoute
			      renderSmallTable=hasActiveChildRoute
			      data-test-loket="berichtencentrum-table"}}
			  </div>
			  {{#if showPreferences}}
			    <div class="modal-overlay modal-overlay-configure-berichtencentrum">
			      {{berichtencentrum/bericht-notificatie-voorkeuren
			        close=(action "hidePreferences")
			        data-test-loket="setting-email-component"}}
			    </div>
			  {{/if}}
			</div>
			{{outlet}}
		</div>
	</div>
</div>
