{{title "Subsidies archief - bekijk subsidie"}}
<div class="col--12-12 col--9-12--m col--12-12--s">
	<div class="container-flex--contain">
		<div class="u-border--light--bottom">
      <ul class="inline-list inline-list--bordered smaller u-background--gray-lightest u-padding--rl--small u-padding--tb--tiny">
        <li>{{#link-to "subsidiebeheer.subsidies" class="active"}}Overzicht subsidieaanvragen{{/link-to}}</li>
        <li>{{#link-to "subsidiebeheer.subsidies-archief"}}Archief{{/link-to}}</li>
        <li>Bekijk gearchiveerde subsidie</li>
      </ul>
    </div>
		<div class="u-border--light--bottom u-padding--tb--small u-padding--rl--tiny">
			<div class="grid u-spacer--tiny">
				<div class="col--6-12">
					{{#link-to "subsidiebeheer.subsidies-archief" class="link--dark smaller"}}<i class="fa fa-angle-left"></i> Terug naar archief{{/link-to}}
				</div>
				<div class="col--6-12 u-align-right">
					<p class="smaller">Bewaard vandaag om 11:26 <span class="pill pill--small pill--primary-blue">Aanvraag aanvaard</span> <span class="pill pill--small">Gearchiveerd</span></p>
				</div>
			</div>
			<div class="grid">
				<div class="col--6-12">
					<h1>Subsidieaanvraag </h1>
					<h2 class="h6">Gesubs Infra - Investeringssubsidie gebouwen erediensten en niet confessionele dienstverlening 2019</h2>
				</div>
				<div class="col--6-12 u-align-right">
					<div class="button-group">
						<button class="button button--link button--link--dark button--narrow">Print</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-flex--contain">
			<div class="grid grid--collapse">
				<div class="col--2-12 col--3-12--m u-hidden--s">
					<div class="container-flex--contain">
						<div class="sidebar">
							<div class="sidebar__content">
								<nav class="side-navigation">
									<div class="side-navigation__content">
										<ul class="side-navigation__group">
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies-archief.view"}}Overzicht aanvraag{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies-archief" disabled}}Subsidiedossier{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies-archief" disabled}}Timing en  financiële details{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies-archief" disabled}}Visie en planning{{/link-to}}
											</li>
											<li class="side-navigation__item">
												{{#link-to "subsidiebeheer.subsidies-archief" disabled}}Beslissing{{/link-to}}
											</li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="col--10-12 col--9-12--m u-hidden--s">
					<div class="container-flex--scroll u-padding--round">

						<div class="alert alert--small alert--success">
					    <div class="alert__title">Aanvraag aanvaard.</div>
							<div class="alert__message">
								<p>U kan het dossier niet meer aanpassen. Voor vragen, <a href="#" class="link--dark">neem contact op met de dossierbehandelaar</a>. Een officiële brief wordt opgestuurd. (? extra info nodig over boodschap)</p>
							</div>
						</div>


						<label class="form__label u-spacer--tiny">Details subsidiereeks</label>
						<div class="u-padding--round--small u-background--gray-lightest u-spacer">
							<div class="u-spacer">
								<div class="grid description-data u-spacer--tiny">
									<div class="col--4-12 description-data__label">Projectinformatie</div>
									<div class="col--8-12 description-data__value"><a href="https://lokaalbestuur.vlaanderen.be/node/1891" target="_blank">https://lokaalbestuur.vlaanderen.be/node/1891</a></div>
								</div>
								<div class="grid description-data u-spacer--tiny">
									<div class="col--4-12 description-data__label">Maatregel <span class="text-fade">(? hoe belangrijk is dit? Krijg ik die data nog? Zat niet in de lijst)</span></div>
									<div class="col--8-12 description-data__value">Slim in de stad</div>
								</div>
								<div class="grid description-data u-spacer--tiny">
									<div class="col--4-12 description-data__label">Reeks <span class="text-fade">(? hoe belangrijk is dit? Krijg ik die data nog? Zat niet in de lijst)</span></div>
									<div class="col--8-12 description-data__value">Kwartaal 1 2019</div>
								</div>
								<div class="grid description-data u-spacer--tiny">
									<div class="col--4-12 description-data__label">Wettelijk kader <span class="text-fade">(? hoe formuleer ik dit?)</span></div>
									<div class="col--8-12 description-data__value">Decreet, beslissing Minister, subsidiegids</div>
								</div>
							</div>
						</div>

						<label class="form__label u-spacer--tiny">Details aanvrager</label>
						<div class="u-padding--round--small u-background--gray-lightest u-spacer">
							<div class="grid description-data u-spacer--tiny">
								<div class="col--4-12 description-data__label">Organisatie</div>
								<div class="col--4-12 description-data__value">
									<p>Gemeente Gent</p>
									<p><a class="smaller" href="#"><i class="fa fa-plus"></i> Voeg co-aanvrager toe</a></p>
								</div>
							</div>
							<div class="u-hr u-spacer--tb"></div>

							<div class="form__row">
								<label class="form__label">Rekeningnummer voor deze aanvraag</label>
								<div class="grid grid--collapse">
									<div class="col--1-12 col--3-12--s col--2-12--m">
			              {{input
		                  type="text"
		                  disabled=true
		                  key-up=(perform search)
		                  value="IBAN"
		                  class="input-field input-field--block"
			              }}
			            </div>
									<div class="col--6-12">
			              {{input
		                  type="text"
		                  key-up=(perform search)
		                  value=searchData
		                  class="input-field input-field--block u-spacer--tiny"
			              }}
			            </div>
		            </div>
		            <p class="smaller text-fade">IBAN: BE00 0000 0000 0000</p>
		          </div>

							<div class="form__row">
								<label class="form__label">Correspondentieadres</label>
								<div class="grid grid--collapse">
									<div class="col--7-12">
				            <div class="input-field-icon-container--block input-field-icon-container--right">
				              {{input
				                  type="text"
				                  placeholder=""
				                  key-up=(perform search)
				                  value=searchData
				                  class="input-field input-field--block"
				              }}
				              <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
				            </div>
				            <p class="smaller text-fade">Typ om te zoeken</p>
				          </div>
				        </div>
							</div>
							<div class="u-hr u-spacer--tb"></div>

							<div class="form__row">
								<div class="grid u-spacer">
									<div class="col--6-12">
										<h2>Contactgegevens</h2>
									</div>
									<div class="col--6-12 u-align-right">
										<button class="button button--link button--narrow" href="#"><i class="fa fa-plus"></i> Voeg contactpersoon toe</button>
									</div>
								</div>
							</div>

							<div class="form__row">
								<div class="u-spacer">
									<div class="grid grid--collapse u-border--fat--bottom">
										<div class="col--6-12">
											<h3 class="h6 text-fade uppercase smaller">Contactpersoon 1</h3>
										</div>
										<div class="col--6-12 u-align-right">
											<span class="pill pill--small u-spacer--tiny">Projectleider en contactpersoon</span>
										</div>
									</div>
								</div>

								<div class="grid u-spacer">
									<div class="col--6-12">
										<label class="form__label">Voornaam</label>
				            <div class="input-field-icon-container--block input-field-icon-container--right">
				              {{input
				                  type="text"
				                  placeholder=""
				                  key-up=(perform search)
				                  value=searchData
				                  class="input-field input-field--block"
				              }}
				              <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
				            </div>
				            <p class="smaller text-fade">Typ om te zoeken</p>
				          </div>
									<div class="col--6-12">
										<label class="form__label">Familienaam</label>
				            <div class="input-field-icon-container--block input-field-icon-container--right">
				              {{input
				                  type="text"
				                  placeholder=""
				                  key-up=(perform search)
				                  value=searchData
				                  class="input-field input-field--block"
				              }}
				              <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
				            </div>
				            <p class="smaller text-fade">Typ om te zoeken</p>
				          </div>
				        </div>

								<label class="form__label">Mailadres</label>
								<div class="grid grid--collapse">
									<div class="col--7-12">
			              {{input
		                  type="text"
		                  key-up=(perform search)
		                  value=searchData
		                  class="input-field input-field--block u-spacer--tiny"
			              }}
				            <p class="form__error">Gelieve een valide mailadres op te geven.</p>
			            </div>
			          </div>

								<label class="form__label">Telefoonnummer</label>
								<div class="grid grid--collapse">
									<div class="col--7-12">
			              {{input
		                  type="text"
		                  key-up=(perform search)
		                  value=searchData
		                  class="input-field input-field--block u-spacer--tiny"
			              }}
				            <p class="smaller text-fade">IBAN: BE00 0000 0000 0000</p>
			            </div>
			          </div>

							</div>

							<div class="form__row">
								<div class="u-spacer">
									<div class="grid grid--collapse u-border--fat--bottom">
										<div class="col--6-12">
											<h3 class="h6 text-fade uppercase smaller">Contactpersoon 2</h3>
										</div>
										<div class="col--6-12 u-align-right">
											<p class="smaller u-spacer--tiny"><a>Maak projectleider en contactpersoon</a></p>
										</div>
									</div>
								</div>

								<div class="grid u-spacer">
									<div class="col--6-12">
										<label class="form__label">Voornaam</label>
				            <div class="input-field-icon-container--block input-field-icon-container--right">
				              {{input
				                  type="text"
				                  placeholder=""
				                  key-up=(perform search)
				                  value=searchData
				                  class="input-field input-field--block"
				              }}
				              <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
				            </div>
				            <p class="smaller text-fade">Typ om te zoeken</p>
				          </div>
									<div class="col--6-12">
										<label class="form__label">Familienaam</label>
				            <div class="input-field-icon-container--block input-field-icon-container--right">
				              {{input
				                  type="text"
				                  placeholder=""
				                  key-up=(perform search)
				                  value=searchData
				                  class="input-field input-field--block"
				              }}
				              <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
				            </div>
				            <p class="smaller text-fade">Typ om te zoeken</p>
				          </div>
				        </div>

								<label class="form__label">Mailadres</label>
								<div class="grid grid--collapse">
									<div class="col--7-12">
			              {{input
		                  type="text"
		                  key-up=(perform search)
		                  value=searchData
		                  class="input-field input-field--block u-spacer--tiny"
			              }}
				            <p class="form__error">Gelieve een valide mailadres op te geven.</p>
			            </div>
			          </div>

								<label class="form__label">Telefoonnummer</label>
								<div class="grid grid--collapse">
									<div class="col--7-12">
			              {{input
		                  type="text"
		                  key-up=(perform search)
		                  value=searchData
		                  class="input-field input-field--block u-spacer--tiny"
			              }}
				            <p class="smaller text-fade">IBAN: BE00 0000 0000 0000</p>
			            </div>
			          </div>

							</div>
						</div>

					</div>
				</div>
			</div>
	  </div>
	</div>
</div>

{{outlet}}
